{% extends '../base_parametrage_sim.html' %}
{% block titre1 %}Parametrage SIM{% endblock titre1 %}

{% block titre2 %}Type d'accès{% endblock titre2 %}

{% block content %}
<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5 ">
        <div class="col-lg-5 mb-5 mb-lg-0" style="z-index: 10">
            <h1>Supprimer l'accès</h1>

            <p>Êtes-vous sûr de vouloir supprimer l'accès "<span class="border bg-light m-1">{{ acces.libelle }}</span> " ?</p>

            <form method="post">
                {% csrf_token %}

                <button class="btn btn-outline-danger" type="submit" onclick="return confirm('Voulez-vous vraiment supprimer l\'accès ?')">Supprimer</button>
                {% block redirect %}
                <a class="btn btn-outline-secondary" href="{% url 'list_acces' %}">Annuler</a>
                {% endblock redirect %}
            </form>

        </div>
    </div>
</div>



{% endblock content %}