{% extends '../base_parametrage_equipement.html' %} 

{% block content %}
<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5 ">
        <div class="col-lg-5 mb-5 mb-lg-0" style="z-index: 10">
            <h1>Supprimer le type d'équipement</h1>

            <p>Êtes-vous sûr de vouloir supprimer le type d'équipement " <span class="border bg-light m-1">{{ type_sim.libelle }}</span> " ?</p>

            <form method="post">
                {% csrf_token %}

                <button class="btn btn-outline-danger" type="submit" onclick="return confirm('Voulez-vous vraiment supprimer ce type de SIM ?')">Supprimer</button>
                {% block redirect %}
                <a class="btn btn-outline-secondary" href="{% url 'type_equipement' %}">Annuler</a>
                {% endblock redirect %}
            </form>

        </div>
    </div>
</div>



{% endblock content %}