{% extends '../base_parametrage_equipement.html' %} 
{% block titre1 %}Parametrage SIM{% endblock titre1 %}
{% block titre2 %}Type d'Equipement{% endblock titre2 %}

{% block content %}
<div class="col-lg-5 mb-5 mb-lg-0 border border-secondary" style="z-index: 10">
  <h1 class="text-center">Ajout d'un nouveau type d'équipement</h1>
      <form class="card-body px-4 py-5 px-md-5"action="{% url 'create_type_equipement' %}" method="post">{% csrf_token %}          
        {{ form.as_p }}
        {% if form.errors %}
          <div class="alert alert-danger">
            <strong>Erreurs :</strong>
            <ul>
              {% for field_errors in form.errors.values %}
                {% for error in field_errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <input class="btn btn-success" type="submit" style="background: #176F62;" value="Créer">
      </form>
  </div>
     
  <div class="col-lg-6 mb-5 mb-lg-0 ">
    <div class="card-body ">
      <table id="profil" class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>Type de SIM</th>
              <th>Modifier</th>
              <th>Supprimer</th>
            </tr>
          </thead>
          {% for type_equipement in type_equipements %}
          <tbody>
            <tr>
              <td>{{type_equipement.id}}</td>
              <td >{{ type_equipement.libelle }}</td>
              <td><a href="{% url 'update_type_equipement' pk=type_equipement.pk %}"><i class="bi bi-pen align-items-center"></i></a></td>
              <td><a href="{% url 'delete_type_equipement' pk=type_equipement.pk %}"><i class="bi bi-trash-fill text-danger"></i></a></td>
            </tr>
          </tbody>
          {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}