{% extends '../base_parametrage_equipement.html' %} 

{% block content %}
<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
  <div class="row gx-lg-5 align-items-center mb-5 ">
    <div class="col-lg-5 mb-5 mb-lg-0" style="z-index: 10">
      
      <h1>Mettre à jour le type de SIM</h1>

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit" style="background: #176F62;">Enregistrer</button>
        <a class="btn btn-outline-secondary" href="{% url 'type_equipement' %}">Annuler</a>
      </form>

    </div>
  </div>
</div>



{% endblock content %}

