{% extends '../base_parametrage_sim.html' %} 
{% block titre1 %}Parametrage SIM{% endblock titre1 %}
{% block titre2 %}OPERATEUR{% endblock titre2 %}

{% block content %}
  
    <div class="col-lg-6 mb-5 mb-lg-0 ">
      <a class="btn btn-primary fixe mt-5 mb-5" href="{% url 'operateur' %}" >Retour</a>
      <div class="card-body ">
        <table id="profil"class="table data-table">
            <thead>
              <tr>
                <th>id</th>
                <th>Opérateur</th>
                <th>Identifiant</th>
                <th>Modifier</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            {% for operateur in operateurs %}
            <tbody>
              <tr>
                <td>{{ operateur.id }}</td>
                <td>{{ operateur.libelle }}</td>
                <td>{{ operateur.identifiant }}</td>
                <td><a href="{% url 'update_operateur' pk=operateur.pk %}"><i class="bi bi-pen align-items-center"></i></a></td>
                <td><a href="{% url 'delete_operateur' pk=operateur.pk %}"><i class="bi bi-trash-fill text-danger"></i></a></td>
              </tr>
            </tbody>
            {% endfor %}
        </table>
      </div>
    </div> 
<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#profil').DataTable();
    });
</script>
{% endblock content %}