{% extends '../base_sim.html' %}

{% block content %}


<div class="row mb-5 mt-5">
    <div class="col-lg-5 mb-5 mb-lg-0 border border-secondary" style="z-index: 10">
        <h1 class="text-center">Ajout d'un nouvel dsim</h1>
            <form class="card-body px-4 py-5 px-md-5" method="post">{% csrf_token %} 
                {{ form.as_p }}
                <input class="btn btn-success mt-2" type="submit" style="background: #176F62;" value="Créer">
            </form>
    </div>
    
    <div class="col-lg-5 mb-5 mb-lg-0 offset-1" style="z-index: 10">
        <a class="btn btn-success" href="{% url 'list_affectation_sim' %}" style="background: #176F62;">Voir la liste des opérateurs</a>
    </div>
</div>
<script>
  $(document).ready(function() {
    // Fonction de mise à jour des champs
    function updatePlafondFields() {
      var forfaitField = $("#id_forfait");
      var montantPlafondVoixField = $("#id_montantPlafondVoix");
      var montantPlafondDataField = $("#id_montantPlafondData");
      
      var selectedForfait = forfaitField.val();
      console.log(selectedForfait);
      
      // Requête AJAX pour récupérer les données du forfait sélectionné
      $.ajax({
        url: "{% url 'get_forfait' %}",  // L'URL de la vue Django qui renvoie les détails du forfait
        data: {
          forfait_id: selectedForfait  // ID du forfait sélectionné à envoyer au serveur
        },
        dataType: "json",
        success: function(data) {
          if (data) {
            montantPlafondVoixField.val(data.montantPlafondVoix);
            montantPlafondDataField.val(data.montantPlafondData);
          } else {
            montantPlafondVoixField.val("");
            montantPlafondDataField.val("");
          }
        }
      });
    }
    
    // Écouteur d'événement pour la modification du champ "forfait"
    var forfaitField = $("#id_forfait");
    forfaitField.on("change", updatePlafondFields);
  });
</script>
<script>
    $(document).ready(function() {
      // Fonction de mise à jour des champs
      function updatePlafondFields() {
        var collaborateurField = $("#id_collaborateur");
        var nomField = $("#id_nom");
        var prenomField = $("#id_prenom");
        
        var selectedCollaborateur = collaborateurField.val();
        console.log(selectedCollaborateur);
        
        // Requête AJAX pour récupérer les données du forfait sélectionné
        $.ajax({
          url: "{% url 'get_collaborateur' %}",  // L'URL de la vue Django qui renvoie les détails du forfait
          data: {
            collaborateur_id: selectedCollaborateur  // ID du forfait sélectionné à envoyer au serveur
          },
          dataType: "json",
          success: function(data) {
            if (data) {
              nomField.val(data.nom);
              prenomField.val(data.prenom);
            } else {
              nomField.val("");
              prenomField.val("");
            }
          }
        });
      }
      
      // Écouteur d'événement pour la modification du champ "forfait"
      var collaborateurField = $("#id_collaborateur");
      collaborateurField.on("change", updatePlafondFields);
    });
  </script>
{% endblock content %}

