{% extends '../base_sim.html' %}

{% block content %}

    
<form id="format-form" action="{% url 'add_affect' %}" method="POST" class="tm-contact-form mx-auto">
  {% csrf_token %}
<div>
  <input type="text" name="numeroTicket" id="numeroTicket" placeholder="Ticket"/>
  <input type="number" name="numero" id="numero" placeholder="numero"/>
  <select  id="fofaitid" name="fofaitid">
  {% for forfait in forfaits %}
    
          <option value="{{ forfait.id }}">{{ forfait.libelle }}</option>
      
  {% endfor %}
  </select>
  <button type="submit" class="btn btn-primary">Ajouter</button>
</div>
</form>

{% endblock content %}
  