{% extends '../base_sim.html' %}

{% block content %}


<div class="row mb-5 mt-5">
    <div class="col-lg-5 mb-5 mb-lg-0 border border-secondary" style="z-index: 10">
        <h1 class="text-center">Ajout d'un nouvel dsim</h1>
            <form class="card-body px-4 py-5 px-md-5" method="post">{% csrf_token %} 
                {{ form.as_p }}
                <input class="btn btn-success mt-2" type="submit" style="background: #176F62;" value="Créer">
            </form>
    </div>
    
    <div class="col-lg-5 mb-5 mb-lg-0 offset-1" style="z-index: 10">
        <a class="btn btn-success" href="{% url 'list_affectation_sim' %}" style="background: #176F62;">Voir la liste des opérateurs</a>
    </div>
</div>
<script>
    // Fonction de mise à jour des champs
    function updatePlafondFields() {
      var forfaitField = document.getElementById("id_forfait");
      var montantPlafondVoixField = document.getElementById("id_montantPlafondVoix");
      var montantPlafondDataField = document.getElementById("id_montantPlafondData");
      
      var selectedForfait = forfaitField.value;
      //console.log(selectedForfait)
      var selectedForfaitOptions = JSON.parse(selectedForfait);
      alert(selectedForfaitOptions);
    
      // Mise à jour des champs avec les valeurs du forfait sélectionné
      if (selectedForfaitOptions) {
        montantPlafondVoixField = selectedForfaitOptions.montantPlafondVoix;
        montantPlafondDataField = selectedForfaitOptions.montantPlafondData;
        
      } else {
        montantPlafondVoixField.value = "";
        montantPlafondDataField.value = "";
      }
    }
    
    // Écouteur d'événement pour la modification du champ "forfait"
    var forfaitField = document.getElementById("id_forfait");
    if (forfaitField) {
      forfaitField.addEventListener("change", updatePlafondFields);
    
      // Appel initial pour mettre à jour les champs au chargement de la page
      //updatePlafondFields();
    }
  </script>
  
  
{% endblock content %}

