{% extends '../base_sim.html' %} 
{% block content %}
<form method="post" action="{% url 'complet' %}">
    {% csrf_token %}
    {{ model1_form.as_p }}
    {{ model2_form.as_p }}
    {{ model3_form.as_p }}
    <button type="submit">Envoyer</button>
</form>
<script>
    $(document).ready(function() {
      // Fonction de mise à jour des champs
      function updatePlafondFields() {
        var forfaitField = $("#id_forfait");
        var montantPlafondVoixField = $("#id_montantPlafondVoix");
        var montantPlafondDataField = $("#id_montantPlafondData");
        var plafondInterneField = $("#id_plafondInterne");
        var typeSim_idField = $("#id_typeSim_id");
        
        var selectedForfait = forfaitField.val();
        
        // Requête AJAX pour récupérer les données du forfait sélectionné
        $.ajax({
          url: "{% url 'get_forfait' %}",  // L'URL de la vue Django qui renvoie les détails du forfait
          data: {
            forfait_id: selectedForfait  // ID du forfait sélectionné à envoyer au serveur
          },
          dataType: "json",
          success: function(data) {
            if (data) {
              montantPlafondVoixField.val(data.montantPlafondVoix);
              montantPlafondDataField.val(data.montantPlafondData);
              plafondInterneField.val(data.plafondInterne);
              typeSim_idField.val(data.typeSim_id);
            } else {
              montantPlafondVoixField.val("");
              montantPlafondDataField.val("");
              plafondInterneField.val("");
              typeSim_idField.val("");
            }
          }
        });
      }
      
      // Écouteur d'événement pour la modification du champ "forfait"
      var forfaitField = $("#id_forfait");
      forfaitField.on("change", updatePlafondFields);
    });
</script>
<script>
    $(document).ready(function() {
      // Fonction de mise à jour des champs
      function updatePlafondFields() {
        var collaborateurField = $("#id_collaborateur");
        var nomField = $("#id_nom");
        var prenomField = $("#id_prenom");
        
        var selectedCollaborateur = collaborateurField.val();
        
        // Requête AJAX pour récupérer les données du forfait sélectionné
        $.ajax({
          url: "{% url 'get_collaborateur' %}",  // L'URL de la vue Django qui renvoie les détails du forfait
          data: {
            collaborateur_id: selectedCollaborateur  // ID du forfait sélectionné à envoyer au serveur
          },
          dataType: "json",
          success: function(data) {
            if (data) {
              nomField.val(data.nom);
              prenomField.val(data.prenom);
            } else {
              nomField.val("");
              prenomField.val("");
            }
          }
        });
      }
      
      // Écouteur d'événement pour la modification du champ "forfait"
      var collaborateurField = $("#id_collaborateur");
      collaborateurField.on("change", updatePlafondFields);
    });
  </script>
{% endblock content %}