{% extends 'base_sim.html' %} 
{% block titre1 %}CRéATION ET AFFECTATION SIM{% endblock titre1 %}
{% block content %}
    <form id="format-form" onsubmit="return validerFormulaire();"  action="{% url 'add_affect' pk=affectationSim.pk %}" method="POST" class="tm-contact-form mx-auto">{% csrf_token %}
        {% if message %}
        <p class="alert alert-danger">{{ message }}</p>
        {% endif %}
    <script>
        alert({{affectationSim.pk}})
    </script>
      <div class="container">
        <div class="row">
            <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                <label class="form-label" for="matricule"><h5>Matricule</h5></label>
                </div>
                <div class="col-md-8">
                <input type="text" class="form-control" style="width: 100%;" placeholder="Matricule" name="matricule" id="matricule" value="{{affectationSim.pk}}" autocomplete="off" required>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-8">
                <input type="hidden" class="form-control" style="width: 100%;" placeholder="id" name="id" id="id" disabled="disabled">
                </div>
            </div>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                <label class="form-label" for="nom"><h5>Nom</h5></label>
                </div>
                <div class="col-md-8">
                <input type="text" class="form-control" style="width: 100%;" placeholder="Nom" name="id_nom" id="id_nom" disabled="disabled">
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                <label class="form-label" for="prenom"><h5>Prénom(s)</h5></label>
                </div>
                <div class="col-md-8">
                <input type="text" class="form-control" style="width: 100%;" placeholder="Prénom(s)" name="id_prenom" id="id_prenom" disabled="disabled">
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
            <div class="row align-items-center">
                <div class="col-md-4">
                <label class="form-label" for="num_ticket"><h5>Numéro de ticket</h5></label>
                </div>
                <div class="col-md-8">
                <input type="number" class="form-control" style="width: 100%;" placeholder="Numéro du ticket" name="numeroTicket" id="numeroTicket" required>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="row align-items-center">
            </div>
            </div>
        </div>
        <div class="row  mb-5">
            <div class="col-md-6 ">
            <div class="row align-items-center">
                <div class="col-md-4">
                <label class="form-label" for="num_ticket"><h5>Date de demande</h5></label>
                </div>
                <div class="col-md-8">
                <input type="date" class="form-control" style="width: 100%;" name="dateDemande" id="dateDemande" required>
                </div>
            </div>
            </div>
            <div class="col-md-6">
              <div class="row align-items-center">
                <div class="col-md-4">
                  <label class="form-label" for="num_ticket"><h5>Date d'approbation</h5></label>
                </div>
                <div class="col-md-8">
                  <input type="date" class="form-control" style="width: 100%;" name="dateApprobation" id="dateApprobation" required>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                <label class="form-label" for="operateur"><h5>Opérateur</h5></label>
                </div>
                <div class="col-md-8">
                <select class="form-select" id="id_operateur" name="id_operateur" required>
                    <option value=""></option>
                    {% for operateur in operateurs %}
                    <option value="{{ operateur.id }}">{{ operateur.libelle }}</option>
                    {% endfor %}
                </select>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                <label class="form-label" for="identifiant"><h5>Identifiant</h5></label>
                </div>
                <div class="col-md-8">
                <input type="number" name="id_identifiant" class="form-control" disabled="disabled" id="id_identifiant">
                </div>
            </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row align-items-center">
              <div class="col-md-4">
                <label class="form-label" for="acces"><h5>Accès SIM</h5></label>
              </div>
              <div class="col-md-8">
                <select class="form-select" style="width: 100%;" name="id_acces" id="id_acces" required>
                  <option value=""></option>
                  {% for acces in access %}
                  <option value="{{ acces.id }}">{{ acces.libelle }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row align-items-center">
              <div class="col-md-4">
              </div>
              <div class="col-md-8">
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="row align-items-center">
              <div class="col-md-4">
                <label class="form-label" for="num_telephone"><h5>Numéro Téléphone</h5></label>
              </div>
              <div class="col-md-8">
                <p id="message" class="text-warning"></p>
                <input type="number" class="form-control" style="width: 100%;" placeholder="Numéro de téléphone" name="numero" id="numero" oninput="verifierNumero()" required>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row align-items-center">
              <div class="col-md-4">
                <label class="form-label" for="adresse_ip"><h5>Adresse IP</h5></label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" style="width: 100%;" placeholder="Adresse IP" name="adresse_ip" id="adresse_ip">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row align-items-center">
              <div class="col-md-4">
                <label class="form-label" for="num_ticket"><h5>Effectif</h5></label>
              </div>
              <div class="col-md-8">
                <input type="date" class="form-control" style="width: 100%;" name="effectif" id="effectif" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row align-items-center">
              <div class="col-md-4">
                <label class="form-label" for="forfait"><h5>Forfait</h5></label>
              </div>
              <div class="col-md-8">
                <select class="form-select" id="id_forfait" name="id_forfait" required>
                  <option value=""></option>
                  {% for forfait in forfaits %}
                    <option value="{{ forfait.id }}">{{ forfait.libelle }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                <label class="form-label" for="type_sim"><h5>Type SIM</h5></label>
                </div>
                <div class="col-md-8">
                <input type="text" name="typeSim_id" class="form-control" disabled="disabled" id="id_typeSim_id">
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                <label class="form-label" for="ref_voix"><h5>Montant Plafond Voix</h5></label>
                </div>
                <div class="col-md-8">
                <input type="number" name="montantPlafondVoix" class="form-control" disabled="disabled" id="id_montantPlafondVoix">
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                <label class="form-label" for="ref_data"><h5>Montant Plafond Data</h5></label>
                </div>
                <div class="col-md-8">
                <input type="number" name="montantPlafondData" class="form-control" disabled="disabled" id="id_montantPlafondData">
                </div>
            </div>
            </div>
        </div>
            <div class="row-md-3">
                <br>
                <button class="btn btn-success" id="submit_button" style="background: #176F62;">Affecter</button>
            </div>
      </div>
    </form>
  
    <script>
        $(document).ready(function() {
        // Fonction de mise à jour des champs
        function updatePlafondFields() {
          var operateurField = $("#id_operateur");
          var identifiantField = $("#id_identifiant");
          var forfaitField = $("#id_forfait");
          var montantPlafondVoixField = $("#id_montantPlafondVoix");
          var montantPlafondDataField = $("#id_montantPlafondData");
          var typeSim_idField = $("#id_typeSim_id");
          var selectedOperateur = operateurField.val();
          var selectedForfait = forfaitField.val();
      
          // Requête AJAX pour récupérer les données de l'opérateur sélectionné
          $.ajax({
            url: "{% url 'get_operateur' %}", // L'URL de la vue Django qui renvoie les détails de l'opérateur
            data: {
              operateur_id: selectedOperateur // ID de l'opérateur sélectionné à envoyer au serveur
            },
            dataType: "json",
            success: function(data) {
              if (data) {
                identifiantField.val(data.identifiant);
              } else {
                identifiantField.val("");
              }
            }
          });
          // Vérifier si la valeur du champ "forfait_id" est vide
          if (selectedForfait) {
          // Requête AJAX pour récupérer les données du forfait sélectionné
          $.ajax({
            url: "{% url 'get_forfait' %}", // L'URL de la vue Django qui renvoie les détails du forfait
            data: {
              forfait_id: selectedForfait // ID du forfait sélectionné à envoyer au serveur
            },
            dataType: "json",
            success: function(data) {
              if (data) {
                montantPlafondVoixField.val(data.montantPlafondVoix);
                montantPlafondDataField.val(data.montantPlafondData);
                typeSim_idField.val(data.typeSim_id);
              } else {
                montantPlafondVoixField.val("");
                montantPlafondDataField.val("");
                typeSim_idField.val("");
              }
            }
          });
        }else {
          montantPlafondVoixField.val("");
          montantPlafondDataField.val("");
          typeSim_idField.val("");
        }
      }
      
        // Écouteur d'événement pour la modification du champ "opérateur"
        var operateurField = $("#id_operateur");
        operateurField.on("change", updatePlafondFields);
      
        // Écouteur d'événement pour la modification du champ "forfait"
        var forfaitField = $("#id_forfait");
        forfaitField.on("change", updatePlafondFields);
      });
         
        $(document).ready(function() {
          $('#matricule').autocomplete({
            source: function(request, response) {
              var matricule = request.term;
              console.log(matricule);
              $.ajax({
                url: "{% url 'get_collaborateur' %}",
                data: {
                  'matricule': matricule
                },
                dataType: 'json',
                success: function(data) {
                  response($.map(data.response, function(item) {
                    return {
                      value : item.matricule,
                      label: item.nom + '  ' +item.prenom,
                      label1 : item.nom,
                      label2: item.prenom,
                    };
                  }));
                }
              });
            },
            minLength: 1,
            select: function(event, ui) {
              var collaborateur = ui.item;
              $('#matricule').val(collaborateur.value);
              $('#id_nom').val(collaborateur.label1);
              $('#id_prenom').val(collaborateur.label2);
            }
          });
        });
        function verifierNumero() {
          var numero = document.getElementById('numero').value;
          var identifiant = document.getElementById('id_identifiant').value;

          if (numero.length >= 2) {
            var premierCaracteresNumero = parseInt(numero, 10).toString().substring(0, 2);
            var premierCaracteresIdentifiant = identifiant.substring(0, 2);

            if (premierCaracteresNumero !== premierCaracteresIdentifiant) {
                document.getElementById('message').textContent = "Le numéro ne correspond pas à l'identifiant";
                document.getElementById('submit_button').disabled = true; // Bloquer l'envoi du formulaire
            } else {
                document.getElementById('message').textContent = "";
                document.getElementById('submit_button').disabled = false; // Autoriser l'envoi du formulaire
            }
        }
      }
    </script>

{% endblock %}