{% extends "base_sim.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <a href="#">{% load static %}<img src="{% static 'Groupe_Basan.png' %}" width="400" alt=""></a>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 ">
                <div class="bg-light border border-dark">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form>
                            <div class="form-outline mb-4">
                                <input type="email" id="form3Example3" class="form-control text-center" placeholder=" ENTREZ VOTRE MATRICULE" />
                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" id="form3Example4" class="form-control text-center" placeholder=" ENTREZ VOTRE MOT DE PASSE" />
                            </div>
                            <div class="form-outline ">
                                <input type="submit" value="VALIDER" class="form-control btn btn-success btn-block mb-4 " style="background: #176F62;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}