{% extends 'base_sim.html' %}
{% block titre1 %}Récéption équipement{% endblock titre1 %}
{% block content %}
<form id="format-form" action="{% url 'reception_stock_equipement_view' %}" method="POST" class="tm-contact-form mx-auto">{% csrf_token %}
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <label class="form-label" for="quantite"><h5>Quantité</h5></label>
                </div>
                <div class="col-md-8">
                    <input type="number" class="form-control" style="width: 100%;" placeholder="Quantite" name="id_quantite" id="id_quantite" autocomplete="off" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <input type="hidden" class="form-control" style="width: 100%;" placeholder="id" name="id" id="id" disabled="disabled">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <label class="form-label" for="prix_global"><h5>Prix global</h5></label>
                </div>
                <div class="col-md-8">
                    <input type="number" class="form-control" style="width: 100%;" placeholder="Prix global" name="id_prixglobal" id="id_prixglobal">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <label class="form-label" for="pu_ht"><h5>PU HT</h5></label>
                </div>
                <div class="col-md-8">
                    <input type="number" class="form-control" style="width: 100%;" placeholder="Prix Unitaire Hors Taxe" name="id_pu_ht" id="id_pu_ht">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 ">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <label class="form-label" for="num_facture"><h5>Numéro Facture</h5></label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" style="width: 100%;" placeholder="Numéro Facture" name="numeroFacture" id="numeroFacture" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <label class="form-label" for="dateFacture"><h5>Date facture</h5></label>
                </div>
                <div class="col-md-8">
                    <input type="date" class="form-control" style="width: 100%;" name="dateFacture" id="dateFacture" required>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 ">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <label class="form-label" for="reference_bc"><h5>Référence bc</h5></label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" style="width: 100%;" placeholder="Référence bc" name="ref_bc" id="ref_bc" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <label class="form-label" for="dateBc"><h5>Date BC</h5></label>
                </div>
                <div class="col-md-8">
                    <input type="date" class="form-control" style="width: 100%;" name="dateBc" id="dateBc" required>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <label class="form-label" for="reference"><h5>Référence et modèle d'équipement</h5></label>
                </div>
                <div class="col-md-8">
                    <select class="form-select" id="id_articleReference" name="id_articleReference" required>
                        <option value=""></option>
                            {% for article in articles %}
                                <option value="{{ article.id }}">{{ article.reference_modele }}</option>
                            {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <label class="form-label" for="materiel"><h5>Type d'équipement</h5></label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="id_materiel" class="form-control" disabled="disabled" id="id_materiel">
                </div>
            </div>
        </div>
    </div>
    <div class="row-md-3">
        <button class="btn btn-success mt-3" style="background: #176F62;">Ajouter</button>
    </div>
  </div>
</form>

<script>
    $(document).ready(function() {
        // Fonction de mise à jour des champs
        function updatePlafondFields() {
          var referenceField = $("#id_articleReference");
          var materielField = $("#id_materiel");
          var selectedReference = referenceField.val();
          // Requête AJAX pour récupérer les données du forfait sélectionné
          $.ajax({
            url: "{% url 'get_materiel' %}",  // L'URL de la vue Django qui renvoie les détails du forfait
            data: {
              article_id: selectedReference  // ID du forfait sélectionné à envoyer au serveur
            },
            dataType: "json",
            success: function(data) {
              if (data) {
                materielField.val(data.materiel);
              } else {
                materielField.val("");
              }
            }
          });
        }
        // Écouteur d'événement pour la modification du champ "forfait"
        var referenceField = $("#id_articleReference");
        referenceField.on("change", updatePlafondFields);
      });
</script>
{% endblock content %}